<div class="container-fluid" style="margin-top: 60px;">
    <!--   Desktop Carousel -->
   <div class="carousel-container desktop-gallery">
        <div id="desktopCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/desktop1.jpg" class="d-block fullscreen-image" width="100%" alt="Desktop Image 1" />
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/desktop2.jpg" class="d-block fullscreen-image" width="100%" alt="Desktop Image 2" />
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/desktop3.jpg" class="d-block fullscreen-image" width="100%" alt="Desktop Image 3" />
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/desktop4.jpg" class="d-block fullscreen-image" width="100%" alt="Desktop Image 4" />
                </div>
                <div class="carousel-item">
                  <img src="../../../assets/desktop5.jpg" class="d-block fullscreen-image" width="100%" alt="Desktop Image 4" />
              </div>
            </div>
        </div>
    </div> 
  
  
  
    <!-- Mobile Carousel -->
   <div class="carousel-container mobile-gallery">
        <div id="mobileCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/mobile1.jpg" class="d-block w-100 fullscreen-image" alt="Mobile Image 1" />
                </div>
                <div class="carousel-item">
                    <img src="../assets/mobile2.jpg" class="d-block w-100 fullscreen-image" alt="Mobile Image 2" />
                </div>
                <div class="carousel-item">
                    <img src="../assets/mobile3.jpg" class="d-block w-100 fullscreen-image" alt="Mobile Image 3" />
                </div>
                <div class="carousel-item">
                    <img src="../assets/mobile4.jpg" class="d-block w-100 fullscreen-image" alt="Mobile Image 4" />
                </div>
                <div class="carousel-item">
                  <img src="../assets/mobile5.jpg" class="d-block w-100 fullscreen-image" alt="Mobile Image 4" />
              </div>
            </div>
        </div>
    </div>
  
    <div class="centered-heading text-center">
      <h1>ENRICO GASPARRI</h1>
      <div class="row justify-content-center" style="margin-top: 30px;">
          <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center mb-3">
              <a class="btn btn-light mx-1" style="width: 300px; background-color: rgba(183, 35, 35, 0.5); border: 1px solid rgba(255, 255, 255, 0.5); color: #fff; font-size: 20px;" [routerLink]="['/catalogo']">CATALOGUE</a>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center mb-3">
              <a class="btn btn-light mx-1" style="width: 300px; background-color: rgba(183, 35, 35, 0.5); border: 1px solid rgba(255, 255, 255, 0.5); color: #fff; font-size: 20px;" href="#contatti">CONTACTS</a>
          </div>
      </div>
  </div>
  
  
  
      <!-- ABOUT -->
  
  
    <div class="container-fluid" style="margin-top: 50px;">
        <h2 style="margin-bottom: 16px; color: rgb(181, 181, 181); margin-left: 16px; margin-right: 16px; margin-top: 30px;">
          /ABOUT
          </h2>
          <p class="" style="margin-left: 16px; margin-right: 16px; text-align: start; text-transform: uppercase;">
            The recognizable traits in his works probably typify characters that belong to our collective imagination of breadth as well as cosmopolitan. 
            “Pablo” is present but not only him, that is, him with his background, his friends, lovers, confessions, impossible choices such as opposing a ruthless and unspeakable dictatorship, Pablo and his friends who have produced so much, each with their own tools and skills in the most varied fields.
          </p>
          <div class="row d-flex" style="text-transform: uppercase;">
            <div class="col-12 col-md-6 col-lg-6" style="text-align: center;">
              <img src="../../../assets/streetArt1.jpg" style="margin-top: 20px; margin-bottom: 20px; border-radius: 8px;" width="100%">
            </div>
            <div class="col-12 col-md-6 col-lg-6">
              <p style=" margin-right: 16px; text-align: start; text-transform: uppercase;">  Enrico's eyes observe, and it is good to observe and remember. Thus, to leave nothing to chance, the painter plays with the dualism of color and form and the front-profile to give us in this new century a double and non-monotonous vision of things and reality. </p>
            </div>
          </div>
        
  
        <div class="row d-flex" style="margin-bottom: 20px;">
            <div class="col-12 col-lg-6">
                <img src="../../../assets/streetArt2.jpg" alt="" width="100%" class=" d-flex" style="color: #f6f6f6; margin-top: 10px; border-radius: 8px;">
            </div>
            <div class="col-12 col-lg-6">
              <img src="../../../assets/streetArt3.jpg" alt="" width="100%" class=" d-flex" style="color: #f6f6f6; margin-top: 10px; border-radius: 8px;">
          </div>
        </div>
        
        
        <div style="background-color: #891f23; padding-bottom: 20px;">
            <div class="container-fluid">
                    <div class="row d-flex">
                        <div>
                            <p style="margin-top: 20px; color: #f6f6f6; text-transform: uppercase;">
                              Modigliani is also on site and on tiptoe as he used to do, he bursts in thunderously, transporting the artist into an unlikely representation of a collective imagination. Again, the dualism of color and shape, front-profile to give us, in this new century, a double and non-monotonous vision of things and reality. That's good!
                            </p>
                    
                            <div class="row d-flex">
                              <div
                                class="col-12 col-lg-6"
                                style="color: #f6f6f6; margin-top: 10px;">
                                  <img src="../../../assets/1.jpg" alt="" width="100%" class=" d-flex" style="color: #f6f6f6; margin-top: 10px; border-radius: 8px;">
                              </div>
                              <div
                                  class="col-12 col-lg-6"
                                  style="color: #f6f6f6; margin-top: 10px;">
                                    <img src="../../../assets/2.jpg" alt="" width="100%" height="auto" class=" d-flex" style="color: #f6f6f6; margin-top: 10px; border-radius: 8px;">
                              </div>
                            </div>
                        </div>
                        
                        <p style="color: #f6f6f6; padding: 20px; text-align: start; text-transform: uppercase;">
                          The trait d'union between popular-ethnic wisdom and the impulse towards the unknown is striking but always remembering that there is no variable between the "invented" present time, past and future, the brand is not in the form but in the profile of the colors where the mystery of art lies and what a 
                          painter-artist magically knows how to recognize and make us known.
                        </p>
          
                  
                        <q style="color: #f6f6f6;text-align: center; margin-top: 20px; margin-bottom: 40px; font-size: 20px;">
                          Si matas mis demones moriran tambien mis angeles
                        </q>
                  </div>


                
      
          </div>
        
               
        </div>

          <div>
            <img src="../../../assets/3.jpg" alt="" width="100%">
          </div>

          <div>
            <h2 style="padding: 20px; font-weight: bold; text-align: center; margin-top: 40px; color: black;">
            HAPPY TRIP, SAILOR!
            </h2>

        </div>
     
      </div>   
  
      <div style="margin-top: 50px;">
        <img src="../../../assets/4.jpg" alt="Chico" width="100%"/>
      </div>
     
     
  
  <!-- PERIODO SICILIANO -->
  
  <div class="container-fluid" style="margin-bottom: 20px; background-color: #1f5835;">
    <div class="row d-flex" style="color: #f6f6f6;">
      <h2 style="margin-top: 30px; margin-bottom: 20px; color: rgb(181, 181, 181)">
        /THE SICILIAN PERIOD
      </h2>
      <div class="row d-flex">
        <p class="col-sm-12 col-md-6 col-lg-6 mt-0" style="text-transform: uppercase;">
          Enrico Gasparri was born in Italy in the city of Catania, on November 23, 1976. Having graduated in Law, he has actually always been attracted to the world of art. Thus, despite his legal studies, he embarked on an artistic journey and dedicated himself to painting, theater and music.      </p>
        <p class="col-sm-12 col-md-6 col-lg-6 mt-0" style="text-transform: uppercase;">
          In this period he strengthened his relationships with the native population and discovered that he had an innate sensitivity towards Indian cultures and, more generally, towards ethnic minorities, often innocent victims of abuse by the "First World".     
        </p>
      </div>
      
      
    
    </div>
  
  
         
        <!-- Inizio Carousel -->
      <div id="carouselSicily" class="carousel slide" data-bs-ride="carousel" style="padding: 10px;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/sicilia1.jpg" style="border-radius: 4px;" class="d-block w-100 carousel-image" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/sicilia2.jpg" style="border-radius: 4px;" class="d-block w-100 carousel-image" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/sicilia3.jpg" style="border-radius: 4px;" class="d-block w-100 carousel-image" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselSicily" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselSicily" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="d-flex justify-content-center" style="margin-top: 40px; padding-bottom: 25px;">
        <button type="button" class="btn btn-light" style="background-color: rgba(255, 255, 255, 0.5);" [routerLink]="['/catalogo']">SEE CATALOGUE</button>
      </div>
    </div>
  
  
     <div class="container">
      <div class="row d-flex">
          <div class="col-12 col-lg-8">
            <h4>
              Here together with the master Antonio Garcia Mulet, disciple of Mirò.
            </h4>
          </div>
        
          <div class="col-12 col-lg-4">
            <img
              src="../../../assets/mulet.jpg"
                alt=""
                width="100%"
                height="100%"
                style="border-radius: 8px"
            />
          </div>
   
        </div>
    </div>
    
  
  <!-- PERIODO SPAGNOLO -->
  <div class="container-fluid" style="margin-top: 60px; background-color: #891f23;">
    <div class="row" style="margin-top: 30px; color: #f6f6f6;">
      <h2 style="margin-bottom: 20px; color: rgb(181, 181, 181)">
        /THE SPAIN PERIOD
      </h2>
  
       
        <p style="text-transform: uppercase;" >
          In 2004 he moved to Valencia for 8 years. <br> Here he studies Dramatic Art at the ART OFF Academy and works for about a year at the Teatro del Carme. In these years he goes through a bohemian period between sleepless nights, parties, excesses... and it is precisely in this same period that he establishes a close friendship with Aurelio Delgado
          - historic artistic director of the Teatro del Carme - who will leave a strong mark on the artist's career. <br> 
          Subsequently he came into contact with several painters, sculptors and free thinkers and only in 2012 did he move to the Balearic Islands together with his partner, Krisztina Csiki. Here, in the silence and peace of the island of Mallorca, his only and adored daughter grows up: Giulietta. These are, therefore, the years of love, inspiration and great artistic production.
        </p>
  
    </div>
  
  
  
  <!-- Inizio Carousel -->
  <div id="carouselSpain" class="carousel slide" data-bs-ride="carousel" style="padding: 10px;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/spagna1.jpg" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/spagna2.jpg" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/spagna3.jpg" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/spagna4.jpg" class="d-block w-100 carousel-image" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselSpain" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselSpain" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="d-flex justify-content-center" style="margin-top: 40px; padding-bottom: 25px;">
    <button type="button" class="btn btn-light" style="background-color: rgba(255, 255, 255, 0.5);" [routerLink]="['/catalogo']">SEE CATALOGUE</button>
  </div>

  </div>
  
  <!-- <div class="row" style="gap: 10; margin-top: 10px;">
    <div class="col-12 col-md-4 col-lg-4">
      <img src="../../../assets/street" alt="" width="100%">
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <img src="../../../assets/streetart6.png" alt="" width="100%">
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <img src="../../../assets/streetart8.png" alt="" width="100%">
    </div>

  </div> -->

  
  
  
  <!-- IL MEDITERRANEO -->
  <div class="container-fluid" style="padding: 10px; text-transform: uppercase;">
    <h2 style="color: #891f23;">Mediterranean</h2>
    <p style="margin-top: 20px;">
      Subsequently, during trips to Morocco and Tunisia, he discovers and approaches the Arab culture which awakens in him memories and smells of childhood in what was the cradle of the Mediterranean: Sicily, right there where it all begins.
    </p>
    <div style="text-transform: capitalize; margin-top: 30px;">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 center-content" style="margin-top: 10px;">
          <p style="color: #1f5835;">last round</p>
          <img src="../../../assets/lastround.jpg" alt="" width="100%">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 center-content" style="margin-top: 10px;">
          <p style="color: #1f5835;">mascherina</p>
          <img src="../../../assets/mascherina.jpg" alt="" width="100%">
        </div>
      </div>
    </div>
  </div>    
  
  
     <!-- PERIODO CUBANO -->
    <div style="margin-top: 60px; margin-bottom: 50px; padding: 10px; background-color: #1f5835;">
      <div class="row d-flex" style="color: #f6f6f6; text-transform: uppercase;;">
        <h2 style="margin-top: 30px; margin-bottom: 20px; color: rgb(181, 181, 181)">/THE CUBAN PERIOD</h2>
        <p>
          For a period he lived in Baracoa (Cuba) and his artistic production began to "fuse" the different artistic/cultural influences of African, Indian, Haitian and Cuban peoples and art. From this moment his works are tinged with vivid Caribbean colors which together with the strong ones of the Mediterranean will give life to a powerful and personal Cubist style.      </p>
      </div>
  
      <!-- Inizio Carousel -->
      <div id="carouselCuba" class="carousel slide" data-bs-ride="carousel" style="padding: 10px;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/cuba1.jpg" class="d-block w-100 carousel-image" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/cuba2.jpg" class="d-block w-100 carousel-image" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/cuba3.jpg" class="d-block w-100 carousel-image" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/cuba3.jpg" class="d-block w-100 carousel-image" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/cuba4.jpg" class="d-block w-100 carousel-image" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselCuba" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselCuba" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="d-flex justify-content-center" style="margin-top: 40px; padding-bottom: 25px;">
        <button type="button" class="btn btn-light" style="background-color: rgba(255, 255, 255, 0.5);" [routerLink]="['/catalogo']">SEE THE CATALOGUE</button>
      </div>
    </div>
  
  
    <!-- WOMAN & POETRY -->
  
  
  <h2 style="margin-left: 20px; text-transform: uppercase;">WOMAN & POETRY</h2>
  <div class="gallery" style="padding: 20px;">
    <figure class="card">
      <img src="../../../assets/woman&poetry1.jpg" alt="Lakeview Elegance preview">
    </figure>
    <figure class="card">
      <img src="../../../assets/woman&poetry2.jpg" alt="Skyline Oasis preview">
    </figure>
    <figure class="card">
      <img src="../../assets/woman&poetry3.jpg" alt="Vista Paradiso preview">
    </figure>
    <figure class="card">
      <img src="../../assets/woman&poetry4.jpg" alt="Villa Verde preview">
    </figure>
    <figure class="card">
      <img src="../../assets/woman&poetry5.jpg" alt="Lakeview Elegance preview">
    </figure>
    <figure class="card">
      <img src="../../../assets/woman&poetry6.jpg" alt="Skyline Oasis preview">
    </figure>
  </div>
  
    
    <!-- il ritorno  -->
    <div class="container-fluid" style="padding: 10px; background-color: #891f23;">
        <div class="row d-flex" style="color: #f6f6f6; text-transform: uppercase;">
            <h2 style="margin-top: 30px; margin-bottom: 30px; color: rgb(181, 181, 181)">
                /THE RETURN
            </h2>
            <div class="row d-flex" style="align-items: center; margin-bottom: 50px;">
                <div class="col-sm-12 col-md-5 col-lg-3 text-center text-md-start">
                    <img src="../assets/6.jpeg" alt="" width="400px" class="img-fluid">
                </div>
              
                <div class="col-sm-12 col-md-7 col-lg-9" style="margin-top: 30px; margin-bottom: 20px;">
                    <p>
                      In 2021, separation from his partner, depression and loneliness push the artist to experiment with new techniques and break some patterns of the past. His works begin to have new elements that will lead him to a path that he himself defines as "cathartic": industrial colors dipped in oil, acrylic and glue, spatulas and hands take the place of brushes to inaugurate his new and original style.                  </p>
                </div>
            </div>
        </div>
      
  
        <div id="carouselReturn" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../assets/ritorno1.jpg" class=" w-100s carousel-image" alt="ritorno1">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/ritorno2.jpg" class=" w-100 carousel-image" alt="ritorno2">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/ritorno3.jpg" class=" w-100 carousel-image" alt="ritorno3">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/ritorno4.jpg" class="d-block w-100 carousel-image" alt="ritorno4">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselReturn" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselReturn" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>   
          <div class="d-flex justify-content-center" style="margin-top: 40px; padding-bottom: 25px;">
            <button type="button" class="btn btn-light" style="background-color: rgba(255, 255, 255, 0.5);" [routerLink]="['/catalogo']">SEE THE CATALOGUE</button>
          </div>
     </div>
  
  

  
  
     <div style="padding: 30px;">
      <h2 style="margin-bottom: 20px; color: rgb(181, 181, 181)">
        /EXHIBITIONS
      </h2>
      <div class="row g-3">
        <div class="col-md-3">
          <div class="">
            <div class="card-body">
              <h5 class="card-title">2024</h5>
              <h4 class="card-text">Ristorante Galleria "Il sale" - Catania</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <div class="card-body">
              <h5 class="card-title">2024</h5>
              <h4 class="card-text">Moon - Ortigia</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <div class="card-body">
              <h5 class="card-title">2024</h5>
              <h4 class="card-text">Rix - Catania</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <div class="card-body">
              <h5 class="card-title">2023</h5>
              <h4 class="card-text">Poma Art Gallery - Maiorca </h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <div class="card-body">
              <h5 class="card-title">2023</h5>
              <h4 class="card-text">Ristorante Galleria "Il sale" - Catania</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <div class="card-body">
              <h5 class="card-title">2022</h5>
              <h4 class="card-text">CRU - Catania</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <div class="card-body">
              <h5 class="card-title">2014-19</h5>
              <h4 class="card-text">Fundació Biblioteca d'Alcúdia Can Torró - Alcudi.</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <div class="card-body">
              <h5 class="card-title">2013/14</h5>
              <h4 class="card-text">Q11 restaurant - Pollenca, Maiorca</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <div class="card-body">
              <h5 class="card-title">2012</h5>
              <h4 class="card-text">Galleria Civica d'Arte contemporanea Montevergini - Siracusa</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <div class="card-body">
              <h5 class="card-title">2011</h5>
              <h4 class="card-text">Hotel Goya - Saragozza</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <div class="card-body">
              <h5 class="card-title">2010</h5>
              <h4 class="card-text">Ristorante lo Barrio del Carmen - Valencia</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <div class="card-body">
              <h5 class="card-title">2010</h5>
              <h4 class="card-text">Galería El punto del Carmen - Valencia</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <div class="card-body">
              <h5 class="card-title">2009/10</h5>
              <h4 class="card-text">Galleria Babel Art - Budapest</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <div class="card-body">
              <h5 class="card-title">2009</h5>
              <h4 class="card-text">Cortile Capuana - Catania</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <div class="card-body">
              <h5 class="card-title">2007</h5>
              <h4 class="card-text">La cucina dei Colori - Catania</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div style="padding: 30px;">
      <h2 style="text-transform: uppercase; margin-bottom: 20px; color: rgb(181, 181, 181)">/They talk about Enrico</h2>
      <div class="row g-3">
        <div class="col-md-3">
          <div class="">
            <div class="card-body">
              <a href="https://livesicilia.it/il-viaggio-nell-arte-di-enrico-gasparri/" class="card-text" target="_blank" rel="noopener noreferrer">Livesicilia.it</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <div class="card-body">
              <a href="https://www.wineonsunday.com/2023/03/16/ristoranti-come-gallerie-darte-a-catania-la-mostra-itinerante-di-enrico-gasparri/" class="card-title" target="_blank" rel="noopener noreferrer">Wineonsunday.it</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  
    <div class="img-fluid no-radius">
      <img src="../../../assets/poster.jpg" alt="" class="img-fluid no-radius" style="height: 100%; width: 100%;">
    </div>
    
  
  <!-- CONTATTI -->
  
  <div id="contatti" class="container-fluid" style="background-color: #f6f6f6; margin-bottom: 38px;">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-lg-4">
        <h2 style="padding: 30px; color: rgb(181, 181, 181);">/CONTACTS</h2>
      </div>
      <div class="col-12 col-lg-8">
        <form (submit)="sendEmail($event)" class="p-4">
          <div class="mb-3" style="color: black;">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
          </div>
          <div class="mb-3" style="color: black;">
            <label for="email" class="form-label">Your email</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text">* it will not be shared with anyone</div>
          </div>
          <div class="mb-3" style="color: black;">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary" style="background-color: rgba(255, 255, 255, 0.5); width: 100px; color: black;">Send</button>
          <div id="emailHelp" class="form-text">By sending the email, you agree to the processing of personal data</div>
        </form>
      </div>
    </div>
  </div>
  
  </div>