<div class="container-fluid w-100 d-flex justify-content-between fixed-bottom bg-body-tertiary" style="display: flex; justify-content: space-between; align-items: center; background-color: #f8f9fa; border-top: 1px solid #dee2e6; padding: 10px;">
  <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
    <p style="margin: 0;">Enrico Gasparri: <br> 
      <a href="https://wa.me/34600673990" target="_blank" style="text-decoration: none; color: inherit;">+34 600 67 39 90</a>
    </p>
  </div>
  <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
    <p style="margin: 0;">Cristina Nicosia,
      <span style="font-size: 0.8em;">Art Curator:</span> <br> 
      <a href="https://wa.me/393358088439" target="_blank" style="text-decoration: none; color: inherit;">+39 335 808 8439</a>
    </p>
  </div>
  <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
    <i class="fas fa-chevron-up" (click)="scrollToTop()" style="cursor: pointer;"></i> 
  </div>
</div>
