.fa-instagram {
    font-size: 24px;
    background: -webkit-linear-gradient(#f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-envelope {
    font-size: 24px;
    color: black;
}

.icon-azzurro {
    color: rgb(0, 162, 255); /* Colore azzurro */
}